@media (max-width: 500px) {
  /* header */
  .header-css,
  .header-html {
    display: none;
  }

  /* about */
  .about-section {
    height: auto;
    padding: 20vh 5vh;
  }
  .about-container {
    flex-direction: column;
  }

  .description-content {
    width: 100%;
  }

  .contact-container {
    padding: 5vh;
  }

  /* PROJECTS */
  .projects-section {
    padding: 10vh 5vh;
  }

  .projects-container {
    flex-direction: column;
    height: auto;
    align-items: center;
    height: 100vh;
  }

  .project {
    width: 90%;
    height: 30vh;
  }

  .project:hover {
    transform: none;
  }

  /* skills */
  .skills-container {
    height: 100vh;
    flex-direction: column;
    align-items: center;
  }

  /* EXPERIENCE */
  .experience-container::after {
    display: none;
  }

  .experience-item {
    grid-template-columns: 1fr 1fr 1fr;
  }

  .job-keywords {
    font-size: 1rem;
    padding: 0.1rem;
    margin: 1rem 0.1rem;
  }

  .box {
    height: 40vh;
  }
  .gallery-container {
    height: auto;
    grid-template-areas:
      "img1"
      "img2"
      "img3"
      "img4"
      "img5"
      "img6"
      "img7"
      "img8"
      "img9"
      "img10"
      "img11"
      "img12"
      "img13"
      "img14";
  }
}
